.ContainServices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}

.ContainCardsServices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.cardContain {
  background-color: #1c2a35;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 300px;
  height: 325px;
  color: white;
  transition: 1s;
  border-bottom: rgba(0, 0, 0, 0.637) 5px outset;
  border-radius: 10px;
}

.titleService {
  font-size: 2rem;
  color: #fdcf41;
}
.title {
  font-size: 1.5rem;
  color: #fdcf41;
}

.cardContain:hover {
  transition: 1s;
  border-bottom: #fdcf41 5px solid;
}
