.contain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  background: #5e5d5d;
  width: 80%;
  height: 80%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* button */
.btn_close {
  margin: 0;
  border: 0;
  padding: 0;
  background: #fdcf41;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
}
.btn_close .icon_cross {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 30px;
  height: 30px;
}
.btn_close .icon_cross:before,
.btn_close .icon_cross:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  height: 5px;
  background: #fff;
  border-radius: 6px;
}
.btn_close .icon_cross:before {
  transform: rotate(45deg);
}
.btn_close .icon_cross:after {
  transform: rotate(-45deg);
}
.bt_-close .icon-cross span {
  display: block;
}
.btn_close:hover,
.btn_close:focus {
  transform: rotateZ(90deg);
  background: #fdcf41;
}
.visually_hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.buttonClose {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

/* button */

.TitleAndVideo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.TitleAndVideo h2 {
  font-size: 3rem;
  margin: 0 1rem;
}

.TitleAndVideo video {
  width: 45%;
  height: auto;
  border-radius: 10px;
}

.carrousel {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}
.carrousel img {
  width: 23%;
  height: auto;
  border-radius: 10px;
}

.description {
  text-align: center;
  padding-inline: 1rem;
}

.tecnologiesAndIconDeploy {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  
  width: 80%;
  bottom: 10%;
}

.tecnologies {
  display: flex;
  gap: 10px;
}


.icondeploy img {
  width: 50px;
  height: auto;
}

.carrouselContainMobile {
  display: none;
}

@media only screen and (max-width: 770px) {

  .TitleAndVideo h2 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  .TitleAndVideo {
    display: flex;
    flex-direction: column;
  }

  .TitleAndVideo video {
    width: 70%;
  }

  .buttonClose {
    margin-bottom: 0rem;
  }

  .description{
    padding-bottom: 10px;
    /* height:max-content; */
    /* background-color: red; */
  }

  .carrousel {
    display: flex;
    margin: 0;
    margin-top: 1rem;
    justify-content: flex-start;
    width: 100%;
    overflow-x: scroll;
    gap: 10px;
  }

  .carrousel img {
    width: 100%;
    height: 20vh;
    border-radius: 10px;
  }

  .carrouselContain {
    gap: 10px;
    margin-top: 2rem;
    display: flex;
    overflow-x: scroll;
    width: 100%;
    justify-content: flex-start;
    overscroll-behavior-x: contain;
  }

  .tecnologiesAndIconDeploy {
    display: flex;
    flex-direction: column;
  }

  .tecnologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border-top: #fdcf41 1px solid;
  }
  .tecnologies p{
    margin-top: 0;

  }
  .icondeploy {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
  }
}
