.contain {
  color: #fdcf41;
  margin-top: 5%;
  margin-bottom: 3rem;
}

.title {
  font-size: 2rem;
  color: #fdcf41;
}

.description {
  width: 600px;
  text-align: justify;
  font-size: 1.1rem;
}
.textAndImage {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 3rem;
  align-items: center;
}

.text {
  width: 50%;
}

.image img {
  border-radius: 10px;
  width: 300px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ContainSocial {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  width: 100px;
  height: 100px;
}

.iconAndText {
  display: flex;
  align-items: center;
  text-align: center;
}

.iconAndText a{
  text-decoration: none;
  color: #fdcf41;
}

.textContact {
  display: inline; /* Muestra el texto inicialmente */
  border: 5px solid #fdcf41;
  border-radius: 10px;
  width: 100px;
  background-color: black;
  opacity: 0; /* Establece la opacidad inicialmente en 0 */
  transition: opacity 1s; /* Aplica la transición solo a la propiedad de opacidad */
}

.iconAndText:hover .textContact {
  opacity: 1; /* Cambia la opacidad al 100% cuando se hace hover */
  transition: opacity 1s;
}

.ability {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fdcf41;
}

@media only screen and (max-width: 770px) {
  .description {
    width: 100%;
    font-size: 1rem;
  }

  .textAndImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

  .text {
    text-align: center;
    width: 100%;
  }

  .ContainSocial {
    flex-wrap: wrap;
  }
  .textContact {
    display: inline;
    opacity: 1;
  }
  .iconAndText {
    flex-direction: column;

    margin: 0rem;
  }
}
