.contain {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  margin-top:0;
  padding-top: 3.5rem;
  
}

.contain span {
  font-size: 4rem;
}

.subtitle {
  padding-top: 2rem;
  color: #fdcf41;
  font-size: 2rem;
  margin: 0;
}
.texto {
  font-size: 1.4rem;
}



@media only screen and (max-width: 770px) {
  .contain {
    padding: 0.5rem;
    margin-top: 0;
    padding-top: 5rem;
  }
  .contain span {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1.1rem;
    padding-top: 1rem;
  }
  .texto {
    font-size: 1rem;
  }
}
