.contain {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  margin-top:0;
  padding-top: 3.5rem;
  
}

.contain span {
  font-size: 4rem;
}

.subtitle {
  padding-top: 2rem;
  color: #fdcf41;
  font-size: 2rem;
  margin: 0;
}
.texto {
  font-size: 1.4rem;
}

/* CSS */
.ContactButton button {
  background-color: #fdcf41;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding-inline: 10px ;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border:3px solid #fdcf41
}

.ContactButton button:hover,
.ContactButton button:focus {
  background-color: #fdce41;
  border:3px solid black
}

@media only screen and (max-width: 770px) {
  .contain {
    padding: 0.5rem;
    margin-top: 0;
    padding-top: 5rem;
  }
  .contain span {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1.1rem;
    padding-top: 1rem;
  }
  .texto {
    font-size: 1rem;
  }
}
